apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-order
  template:
    metadata:
      labels:
        app: ms-order
    spec:
      containers:
        - name: ms-order
          image: 640168416591.dkr.ecr.us-east-1.amazonaws.com/fastfood/ms-order:latest
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 3000
          env:
            - name: AWS_REGION
              valueFrom:
                secretKeyRef:
                  name: ms-order-secret
                  key: aws_region
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: ms-order-secret
                  key: aws_access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: ms-order-secret
                  key: aws_secret_access_key
            - name: MS_PRODUCT_URL
              value: "${MS_PRODUCT_URL}"

          livenessProbe:
            httpGet:
              path: /health-check
              port: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: ms-order
spec:
  type: LoadBalancer
  selector:
    app: ms-order
  ports:
    - port: 80
      targetPort: 3000
