apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-order
  template:
    metadata:
      labels:
        app: ms-order
    spec:
      containers:
        - name: ms-order
          image: rodrigotrancoso/fiap-tech-challenge-ms-order
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 3000
          env:
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: ms-order-secret
                  key: mongo_uri
          livenessProbe:
            httpGet:
              path: /health-check
              port: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: ms-order
spec:
  type: LoadBalancer
  selector:
    app: ms-order
  ports:
    - port: 80
      targetPort: 3000
